body, td, th {
  font: 14px/19px "Gill Sans", GillSans, "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif; 
  color: black;
  font-weight: normal;
}

body { 
  background: white;
  margin: 0px 20px;
}

th {
  font-weight: bold;
  text-align: left;
}

td {
  vertical-align: top;
  padding: 2px;
}

img { 
  border: 0;
}

h1 {
  padding: 30px 5px 15px 0px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  margin: 0px;
  color: #06c;
}

h2 {
  font-weight: normal;
  padding: 10px 5px 10px 0px;
  font-style: italic;
  margin: 0;
  color: #06c;
}

h3 {
  font-weight: normal;
  font-size: 1.05em;
  margin: 0;
  padding: 5px 5px 0px 0px;
}

h4 {
  color: #339;
  margin: 5px 0px 5px 0px;
  padding: 2px 0px 2px 0px;
  font-weight: normal;
  border-bottom: 1px dotted black;
}

p {
  margin: 0em 0 0.5em 0;
}

a {
  color: #633;
  font-style: normal;
}

a:hover {
  color: #363;
}

address {
  font-style: italic;
  margin: 30px 20px 0px 0px;
  border-top: 1px solid black;
  padding: 5px 10px 5px 20px;
}

dt {
  font-weight: bold;
}

dl {
  margin: 1em 0;
}

dl.spacious dd {
  margin: 0 0 1em 2.2em;
}

dl.compact dt {
  width: 200px; float: left;
}

fieldset {
  border: 0px;
}

legend {
  font-weight: bold;
  padding: 0px;
}

label {
  display: inline-block;
  width: 180px;
}

label.error {
  display: inline;
  padding-left: 1em;
  color: #c00;
  font-weight: bold;
}

input.number_01, input.positive_integer {
  width: 50px;
  text-align: right;
}

.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: auto;
  width: 180px;
  background: #ddd;
  border-left: 1px solid #666;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  font-size: 0.8em;
  margin: 10px 0px 0px 0px;
  padding: 5px 5px 5px 15px;
}

.sidebar ul {
  list-style: disc inside;
  padding: 0px;
  margin: 0px;
  color: orange;
}

.sidebar ul li {
  color: black;
}

.warning {
  color: red;
}

.right {
  text-align: right;
}

/* Step display */
#steps li {
  padding-bottom: 1em;
  padding-top: 1em;
  clear: both;
}

#steps .title {
  font-weight: bold;
  margin-bottom: 1em;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#steps li .title {
  background-color: #eee;
  border: 2px solid white;
}

#steps li.active .title {
  border: 2px solid #888;
  background-color: #ddd;
}

#steps li.finished .title {
  border: 2px solid #0c0;
  background-color: #dfd;
}

/* Results field */
#results {
  height: 20em;
  max-height: 20em;
  overflow: scroll;
  margin-bottom: 1em;
}

/* Error messages */
.message-container {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
.message-container li {
  padding: 2px 5px;
  margin-left: 0px;
}
#errors li {
  background-color: #fdd;
  border-left: 3px solid #c00;
}

/* Progress indicators and success markers */
.progress-indicator, .success-marker {
  display: block;
  float: left;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding: 5px 0px 6px 20px;
  line-height: 130%;
}
.progress-indicator {
  background-image: url(../img/ajax-loader.gif);
}
.success-marker {
  background-image: url(../img/tick.png);
  color: #080;
  font-weight: bold;
}