body,td,th {
	color: #000000;
}

body {
    margin: 15px 0px;
    text-align:center;
}

img {
	border:none;
}

#fixed {
	background-color: white;
	margin: auto;
	padding: 15px;
	text-align: left;
	width: 90%;
}

#logo {
	float:right;
	margin-right:2px;
	display:inline;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                            TOOLTIP                                            */
/*-----------------------------------------------------------------------------------------------*/
 
.toolTip { /* This is the hook that the jQuery script will use */
	padding-right: 20px; /* This is need to make sure that the help icon is always visible */
	cursor: help; 
	position: relative; /* This contains the .toolTipWrapper div that is absolutely positioned  */
}
 
.toolTipWrapper { /* The wrapper holds its insides together */
	width: 175px;
	position: absolute; /* Absolute will make the tooltip float above other content in the page */
	top: 20px;
	display: none; /* It has to be displayed none so that the jQuery fadein and fadeout functions will work */
	color: #FFF;
	font-weight: bold;
	font-size: 9pt; /* A font size is needed to maintain consistancy */
}
	
.toolTipTop { /* Top section of the tooltip */
	width: 175px;
	height: 30px;
	background: transparent url(img/bubbleTop.gif) no-repeat;
}
 
.toolTipMid { /* Middle section of the tooltip */
	padding: 8px 15px;
	background: #A1D40A url(img/bubbleMid.gif) repeat-x top;
}
		
.toolTipBtm { /* Bottom Section of the tooltip */
	height: 13px;
	background: transparent url(img/bubbleBtm.gif) no-repeat;
}

/*-----------------------------------------------------------------------------------------------*/
		
#rhullogo {
	width:201px;
	height:56px; 
	margin-right:-12px;
	padding-bottom:1px;
}

.references {
  font-weight: bold;
  margin-bottom: 1em;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #888;
  background-color: #ddd;
  margin-top:2em;
}

.mainLinkLeft {
	float: left;
	margin-bottom: 7px;
	margin-right: 2px;
	width: 210px;
	height: 90px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	line-height: 1.1em;
	font-family:"Book Antiqua", "Georgia", "serif";
	padding-right:10px;
	text-align:right;
	background-color:#376F90;
}

div.mainLinkLeft a{
	color:#FFFFFF;
	text-decoration:none;
}

.bbsrc {
	float: left;
	margin-bottom: 7px;
	margin-left: 2px;	
	width: 210px;
	height: 90px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	background-color:#FFFFFF;
}


.mainLinkRight {
	float: left;
	margin-bottom: 7px;
	margin-right: 2px;
	width: 210px;
	height: 90px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	background-color:#376F90;
}

div.middle {
	float: left;
	height: 90px;
	margin-bottom: 7px;
	margin-right: 2px;
	width:655px;
}

div.greena,
div.bluea{
	float:left;
}


div.greena a
{
	text-decoration:none;
	color:#FFFFFF;
	display:block;
	/*font-weight:bold;*/
	font-size:1.9em;
	font-weight:lighter;
	padding-top:0px;
	text-align:center;
	position:relative;
	top:35%
}

div.greena{
	/*background-color:#AE2222;*/
	background-color:black;
	width: 210px;
	font-family:Verdana, Arial, sans-serif;

	/*height:56px;*/
	height:100%;
}


.mainbody{
	clear:both;
}

.wrapped{
	clear:both;
}
